.left-right-aligned-sentence {
display: flex;
justify-content: space-between;
}

.container {
    background-color: burlywood;
    margin-top: 10vh;
    display: block;
    margin-left: 20vw;
    margin-right: 20vw;
}